:root {
    --graphs-font: Tahoma, Geneva, Verdana, sans-serif;

    // Colors
    --graphs-text: #000000;
    --graphs-background: #FFFFFF;
    --graphs-background-gray: #D9D9D9;

    --graphs-blue: #009CC6;
    --graphs-dark-blue: #007494;

    --button-hover: rgba(0, 0, 0, .2);
    --button-active: rgba(0, 0, 0, .3);
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--graphs-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-select: none;
    font-size: 0.9em;
}